.container_section1 {
  position: relative;
  display: flex;
  flex: 1;
  padding: 4rem;
}

// .grid-wrapper::after {
//   content: "";
//   border: solid 9px;
//   width: 18%;
//   height: 60%;
//   position: absolute;
//   top: 7rem;
//   left: 7rem;
// }

.FirstDestination {
  transition: all 0.5s;
}
.grid-wrapper {
  overflow-y: hidden;
  max-height: 26rem;

  flex: 1;
  img {
    display: flex;
  }
}
.FirstDestination {
  height: 100%;
  position: relative;
}

.App {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.section-slider {
  overflow: hidden;
  padding: 2rem;
}
