.FourthDestination {
  grid-column: col-start 8 / col-end 9;
  margin: 2rem;
  background: rgb(50, 113, 122);
  background: rgb(50, 113, 122);
  background: linear-gradient(
    338deg,
    rgba(50, 113, 122, 0.542454481792717) 0%,
    rgba(164, 193, 205, 1) 23%,
    rgba(238, 236, 185, 1) 60%,
    rgba(57, 54, 105, 0.5760679271708684) 100%,
    rgba(98, 70, 84, 0.08587184873949583) 100%
  );
}
