.Results {
  margin: 2rem;
  max-height: 20rem;
  h1 {
    padding: 5px 25px;
    color: white;
    font-size: 35px;
    padding: 40px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 0;
  }
}
