// COLOR VARIABLES
// FONT VARIABLES

$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;
$color-grey-dark-2: rgb(26, 18, 19);
$color-grey-dark-3: rgba(59, 10, 10, 0.445);
$color-grey-light-1: rgba(233, 219, 219, 0);
$bp-largest: 75em;
$bp-smallest: 25em;
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;

  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  @media only screen and(max-width:$bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: $font-display;
  font-weight: 300;
  line-height: 1.6;
  font-size: 2rem;
  margin: 0;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(50, 56, 122, 0.9794292717086834) 27%,
    rgba(57, 54, 105, 1) 65%,
    rgba(70, 93, 98, 1) 98%
  );
}

.container {
  &_section1 {
    padding: 10vh;
    display: grid;
    grid-column: 10vh 50vh;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 24px;
    .grid-wrapper {
      display: grid;
      grid-row-gap: 2rem;
    }
    div {
      grid-row-gap: 3rem;
    }
  }

  overflow: unset;

  position: relative;
}
