// COLOR VARIABLES
// FONT VARIABLES

$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;
$color-grey-dark-2: rgb(26, 18, 19);
$color-grey-dark-3: rgba(59, 10, 10, 0.445);
$color-grey-light-1: rgba(233, 219, 219, 0);
$bp-largest: 75em;
$bp-smallest: 25em;
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;

  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  @media only screen and(max-width:$bp-largest) {
    font-size: 50%;
  }
  @media only screen and(max-width:70px) {
    font-size: 50%;
  }
}

body {
  transition: all 1s;
  font-family: $font-display;
  font-weight: 300;
  line-height: 1.6;
  font-size: 2rem;
  margin: 0;
  height: 100%;

  background: linear-gradient(
    90deg,
    rgba(50, 56, 122, 0.9794292717086834) 27%,
    rgba(57, 54, 105, 1) 65%,
    rgba(70, 93, 98, 1) 98%
  );
}

.container {
  overflow: unset;
}

// button {
//   position: relative;
//   background-color: #4caf50;
//   border: none;
//   font-size: 28px;
//   color: #ffffff;
//   padding: 20px;
//   width: 200px;
//   text-align: center;
//   -webkit-transition-duration: 0.4s; /* Safari */
//   transition-duration: 0.4s;
//   text-decoration: none;
//   overflow: hidden;
//   cursor: pointer;
// }

// button {
//   padding: 15px 25px;
//   font-size: 24px;
//   text-align: center;
//   cursor: pointer;
//   outline: none;
//   color: #fff;
//   background-color: #4caf50;
//   border: none;
//   border-radius: 15px;
//   box-shadow: 0 9px #999;
// }

// button:hover {
//   background-color: #3e8e41;
// }

// button:active {
//   background-color: #3e8e41;
//   box-shadow: 0 5px #666;
//   transform: translateY(4px);
// }
