// COLOR VARIABLES
// FONT VARIABLES

$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;
$color-grey-dark-2: rgb(26, 18, 19);
$color-grey-dark-3: rgba(59, 10, 10, 0.445);
$color-grey-light-1: rgba(233, 219, 219, 0);
$bp-largest: 75em;
$bp-smallest: 25em;
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  @media only screen and(max-width:$bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: $font-display;
  font-weight: 300;
  line-height: 1.6;
  font-size: 2rem;
  margin: 0;
}

.container {
  background: linear-gradient(
    90deg,
    rgba(50, 56, 122, 0.9794292717086834) 27%,
    rgba(57, 54, 105, 1) 65%,
    rgba(70, 93, 98, 1) 98%
  );
  overflow: unset;
  display: grid;
  position: relative;
  grid-template-rows: 4 0vh 50vh;
  grid-template-columns:
    [column-start]1fr[centre-start]repeat(
      12,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [centre-end]1fr[column-end];
}
.Results {
  background-color: blueviolet;
  grid-column: col-start 2 / col-end 9;
}

.card {
  div {
    display: flex;
    font-weight: 400;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    flex-direction: column;
    margin: 6px 4px;
    transform: translateY(28px);
    color: blue($color: #000000);

    input {
      font-size: 0px;
      transform: translateY(28px);
      &:checked + span {
        font-weight: bold;
        color: black;
        border: 5px solid #ffffff;
      }
    }
  }
  transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-0.5rem);
  }
}
input[type="radio"]:checked + label {
  font-weight: 600;
}

input {
  font-weight: 600;
}

input[type="radio"] {
  transform: scale(2);
}
input[type="radio"]:checked ~ .check {
  font-weight: 600;
}
input[type="radio"]:checked ~ .check .inside {
  font-weight: 600;
}
